:local(.login-logo){width:150px;height:150px;background:url(../../assets/logo@1x.png) center bottom no-repeat;margin:0 auto;}
:local(.login-form){width:300px;margin:30px auto;}
:local(.login-button){width:100%;}